header {
    // margin-bottom: 25px;

    &.contain-to-grid {
        background: none;
    }

    &.fixed { //sticky styles
        background: $grayDarker;
        background: rgba(48, 52, 56, 0.9); //translucent


        body:not(.vHome) & { //box shadow applied to all pages except home
            // background: $orange;
            // background: rgba(255, 190, 71, 0.9); //translucent

            -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.3);
        }
    }
}

.eb-primaryNav {
    background: transparent!important;
    z-index: 9999;

    .top-bar-section {
        > ul > li:not(.has-form) {
            background: transparent;

            > a:not(.button) {
                text-transform: uppercase;
                background: transparent;
            }
        }
    }

    #logo {
        position: relative;
        display: block;
        padding: 0;
        width: 100px;
        height: 100px;
        background: $orange;
        overflow: hidden;
        -webkit-transition: all .3s ease;
        -moz-transition:    all .3s ease;
        transition:         all .3s ease;

        -webkit-box-shadow: 0px 4px 32px -8px rgba(0,0,0,0.75);
        -moz-box-shadow:    0px 4px 32px -8px rgba(0,0,0,0.75);
        box-shadow:         0px 4px 32px -8px rgba(0,0,0,0.75);

        img {
            display: block;
            width: 100%;
            height: auto;
            opacity: 1;

            -webkit-transition: all .3s ease;
            -moz-transition:    all .3s ease;
            transition:         all .3s ease;
        }

        span {
            position: absolute;
            top: 50%;
            left: 100%;
            white-space: nowrap;
            text-align: center;
            opacity: 0;

            -webkit-transition: left, opacity .3s ease;
            -moz-transition:    left, opacity .3s ease;
            transition:         left, opacity .3s ease;
        }

    // when header is anchored
        .fixed & {
            text-indent: 0;
            height: 45px;

            img {
                opacity: 0;
            }

            span {
                width: 100%;
                top: 0;
                left: 0;
                opacity: 1;
            }
        }
    }
}



.eb-sub-nav {
    margin: 0;
    padding: 10px 10px 10px 0;
    background-color: #f2f2f2;
}
