#loginModal {
    width: 50%;
}
#loginModal,
#step2Modal {
    background: $app-accent;

    h1 {
        color: $grayWhite;
        text-align: center;
    }
    p {
        color: $grayLight;
        text-align: center;
        text-transform: uppercase;
    }

    hr {
        border-color: rgba(lighten($app-accent, 20%), 0.8);
    }

    .span-or {
        display: block;
        margin: -31px auto 0;
        width: 80px;
        text-align: center;
        background: $app-accent;
    }

    .close-reveal-modal,
    dialog .close-reveal-modal{
        color: darken($app-accent, 20%);
    }

    .social {
        .columns {
            padding: 2px;
        }
        .button {
            margin: 0;
            padding: 15px 2px;
            width: 100%;
        }
    }

    .submit-form {
        float: right;
    }

    .rememberMe {
        float: left;

        .copy {
            font-size: 10px;
        }
    }

    .forgotPwd a {
        color: $gray;
    }

}
.sign-up {
    .button {
        width: 49%;
        @include box-sizing;
    }
}

// artist show
#show-artists {
    font-size: 0;

    .artist-container {
        display: inline-block;
        margin-bottom: 30px;
        padding: 0 15px;
        width: 25%;
        font-size: 12px;
        @include box-sizing;
        vertical-align: top;

        .inner {
            padding: 5px 15px;
            background: $grayWhite;
            border: 4px transparent solid;

            -webkit-box-shadow: 0px 4px 32px -8px rgba(0,0,0,0.75);
            -moz-box-shadow:    0px 4px 32px -8px rgba(0,0,0,0.75);
            box-shadow:         0px 4px 32px -8px rgba(0,0,0,0.75);
        }

        &:hover,
        &:focus {
            .inner {
                border-color: $grayLight;
                border-style: dashed;
            }
        }

        &:nth-child(4n + 1) {padding-left: 0};
        &:nth-child(4n + 4) {padding-right: 0};
    }
}
