/*===========================================================================
   BRAND COLOR
===========================================================================*/
$orange:            #FFBE47;

//gray scale
$grayLightest:      #fff;
$grayLight:         #ebebeb;
$gray:              #535353;
$grayDark:          #666;
// $grayDarker:        #333;
$grayDarker:        #313439;
$grayDarkest:       #111;
