/*===========================================================================
   BRAND COLOR
===========================================================================*/
$orange:            #FF8400;

$blue:              #0074d9;

$teal:              #39cccc;

$red:               #ff4136;

$aqua:              #7Fdbff;

//gray scale
$grayWhite:         #fff;
$grayLight:         #ebebeb;
$gray:              #535353;
$grayDark:          #666;
$grayDarker:        #31343B;
$grayDarkest:       #111;

//social
$facebook-color:    #3b5998;
$twitter-color:     #00aced;
$google-color:      #dd4b39;

//fonts
$font:              sans-serif;
$primary-font:      'Open Sans', sans-serif;

/*===========================================================================
   APP SETTINGS
===========================================================================*/
$app-padding: null;
$app-accent: darken($teal, 20%);
$app-color:  $grayDarker;
$app-primary-font: $primary-font;
