/*===========================================================================
   BRAND COLOR
===========================================================================*/
$orange:            #FFBE47;

//gray scale
$grayWhite:         #fff;
$grayLight:         #ebebeb;
$gray:              #535353;
$grayDark:          #666;
// $grayDarker:        #333;
$grayDarker:        #31343B;
$grayDarkest:       #111;
