body {
    margin: 0;
    padding: 0;
    background-color: $app-color;
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=666666ff&noise=808080&density=77&opacity=33);
    font-family: $app-primary-font;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    font-family: $app-primary-font;
}

.container {
    max-width: none;

    .row {
        margin: 0;
    }
}

main,
.main.row {
    body:not(.vHome) & {
        margin-top: 70px;
    }
}

.panel {
    background: rgba($grayLight, 1);
    border: 0;

    -webkit-box-shadow: 0px 4px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow:    0px 4px 32px -8px rgba(0,0,0,0.75);
    box-shadow:         0px 4px 32px -8px rgba(0,0,0,0.75);

    @include respond-to(768) {
        padding: 1.25rem 120px;
    }

    & .panel {
        padding: 1.125rem;
    }
}

table {
    td {
        button,
        .button {
            margin-bottom: 0;
        }
    }
}

.reveal-modal {
    border: 0;
    margin-top: -50px;
}

.reveal-modal-bg {
    background: rgba(0,0,0,0.8);
}
